.filter-section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.filter-text {
    width: 370px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: var(--secondary-text--color-white);
}