.filter {
    width: 1200px;
    padding: 0px 15px;
    margin-left: auto;
    margin-right: auto;
}
.filter-but {
    margin-top: 0px;
    margin-bottom: 50px;
    list-style-type: none;
    display: flex;
    padding: 0px;
    align-items: center;
    justify-content: center;
}