.our-team {
    background: #F5F4FA;
    padding-bottom: 94px;
    padding-top: 94px;
}
.our-team-class {
    width: 1200px;
    padding: 0px 15px;
    margin-left: auto;
    margin-right: auto;
}