.connection-to {
    display: flex;
    list-style-type: none;
    margin-left: auto;
}
.info:not(:last-child) {
    margin-right: 50px;
}
.mail,.phone {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-grey);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--moz-text-decoration-color);
    }
}
.icon-envelope {
    width: 16px;
    height: 12px;
    fill: currentColor;
    margin-right: 10px;
}
.icon-smartphone {
    width: 10px;
    height: 16px;
    fill: currentColor;
    margin-right: 10px;
}